<tr class="{CSS_ROW}">
    <td class="std small">
        <a href="{PRG_LINK}">{PRG_TITLE}</a>
    </td>
    <td class="std small">
        {PRG_MEMSHIPS}
    </td>
    <td class="std small">
        {PRG_DISTINCT_MEMBERS}
    </td>
    <td class="std small">
        {PRG_IN_PROGRESS_MEMSHIPS}
    </td>
    <td class="std small">
        {PRG_IN_PROGRESS_MEMSHIPS_REL}
    </td>
    <td class="std small">
        {PRG_COMPLETED_MEMSHIPS}
    </td>
    <td class="std small">
        {PRG_COMPLETED_MEMSHIPS_REL}
    </td>
    <td class="std small">
        {PRG_FAILED_MEMSHIPS}
    </td>
    <td class="std small">
        {PRG_FAILED_MEMSHIPS_REL}
    </td>
    <td class="std small">
        {PRG_DISTINCT_MEMBERS_QUALIFIED_REL}
    </td>
</tr>